@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@font-face {
  font-family: 'meslo';
  src: url('../public/meslo.ttf');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.dark {
  background-color: #222;
}

.main-body {
  max-width: 800px;
}

@media (max-width: 900px) {
  .main-body {
    width: 90%;
  }
}

.content * {
  margin: 0;
  margin-bottom: 20px;
}

.content img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}

.content h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.content img.small {
  width: 70%;
  height: 50%;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}

.content img.x-small {
  width: 30%;
  height: 50%;
  border-radius: 10px;
  display: block;
}

.content h1 {
  font-size: 22px;
  text-decoration: underline;
}

.content h2 {
  font-size: 20px;
  text-decoration: underline;
}

.content p {
  font-size: 18px;
}

.content ol {
  list-style: decimal;
  margin-left: 1rem;
}

html.dark .content pre {
  padding: 20px;
  border-radius: 10px;
  background-color: #222;
  color: white;
  overflow: hidden;
  border: 1px solid #858585;
  font-size: 16px;
}

.content pre {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  color: black;
  overflow: hidden;
  border: 2px solid #858585;
  font-family: 'meslo';
  font-size: 16px;
}

.content blockquote {
  color: #858585;
  padding-inline: 10px;
  position: relative;
}

.content blockquote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: #979797;
}

button.lepclap img {
  transition: all 0.2s linear;
}

ol li ol li {
  margin-bottom: 5px !important;
}

.content a {
  text-decoration: underline;
}