@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.main-body {
  max-width: 800px;
}

@media (max-width: 900px) {
  .main-body {
    width: 90%;
  }
}

.content * {
  margin: 0;
  margin-bottom: 10px;
}

.content h1 {
  font-size: 24px;
  text-decoration: underline;
}

.content p {
  font-size: 18px;
}

.content pre {
  padding: 20px;
  border-radius: 10px;
  background-color: #222;
  color: white;
  overflow-y: scroll;
}

.content blockquote {
  color: #858585;
}
